@using PTTK_SQA.Models.Entities;
@{
    ViewData["Title"] = "BXH Cầu thủ ghi bàn";
}
@section styles{
    <link rel="stylesheet" href="~/css/view/tk-cauthughiban.css"/>
}

    <div>
        <h4><b>BXH CẦU THỦ GHI BÀN</b></h4>
        <div class="menu-list">
            <a class="menu-item" href="/">Đội bóng</a>
            <a class="menu-item" href="/ThongKe/ThongKeCauThu" id="thongkect">Cầu thủ</a>
            <a class="menu-item" href="/">Thẻ phạt</a>
            <a class="menu-item" href="/">Kết quả</a>
        </div>
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th class="text-center">STT</th>
                        <th class="text-center">Mã</th>
                        <th class="medium-width">Tên cầu thủ</th>
                        <th class="text-center">Số áo</th>
                        <th class="medium-width">Đội bóng</th>
                        <th class="text-center">Bàn thắng</th>
                        <th class="text-center">Kiến tạo</th>
                        <th class="text-center">Hạng đội</th>
                        <th class="text-center">TG thi đấu</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewData["TKCauThu"] != null)
                    {
                        List<TKCauThuGhiBan> lst = (List<TKCauThuGhiBan>)ViewData["TKCauThu"];
                        int stt = 0;
                        @foreach (TKCauThuGhiBan item in lst)
                        {
                            stt++;
                            <tr ondblclick="xemTranDau('@item.Ten','@item.Id')">
                                <td class="text-center">@stt</td>
                                <td class="text-center">@item.MaCauThu</td>
                                <td class="medium-width">@item.Ten</td>
                                <td class="text-center">@item.SoAo</td>
                                <td class="medium-width">@item.TenDoiBong</td>
                                <td class="text-center">@item.SoBanThang</td>
                                <td class="text-center">@item.KienTao</td>
                                <td class="text-center">@item.ThuHang</td>
                                <td class="text-center">@item.ThoiGianThiDau phút</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="no-content">
                            <td colspan="9">Không có dữ liệu</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <script>
        document.getElementById("thongke").classList.add("selected");
        document.getElementById("thongkect").classList.add("selected");
        function xemTranDau(ten, id) {
            window.location.href = `/TranDau?ten=${ten}&cauthuId=${id}`;
        }
    </script>